.thumbblock{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #eee;
}

.thumb{
    width: 10vw; /* dynamic w/h for device w*/
    height: 10vw;
    font-size: calc(10px + 1vw); /* dynamic font size */
    text-align: center;
    border: 1px solid #000;
    background-color: #ddd;
}

.thumb:hover{
    cursor: pointer;
    background-color: #aaa;
}
#msg{
    font-size: 3em;
    text-align: center;
}